body{
     background-color: gainsboro;
}


#imagem-corinthians{
     width:250px ;
     border: solid 10px rgb(7, 50, 100));
}

.principal{
     background-color: rgb(11, 117, 121);
     color: black;
}

.rodape{  
     background-color: crimson;
     color: black;
     text-align: center;
}




